<template>

</template>

<script>
export default {
  name: "connect",
  data() {
    return {

    }
  }
}
</script>

// <!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1,
h2,
h3 {
  font-weight: normal;
  padding: 50px;
}

section {
  padding: 50px;
}

</style>
